*{
    padding:0;
    margin:0;
    background-color: black;
    color: #F1F1F1;
}

.header{
    padding: 15px;
    border-bottom: 3px solid #32B9CD;
}

.container{
    margin: 0 auto;
    width: 80%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    color: #32B9CD;
    font-weight: 800;
}

ul{
    display: flex;
    width: 350px;
    justify-content: space-between;
    list-style:none;
}

li{
    color:#E3B062;
}